# Excludes
data/
data
.vscode/

# Pipeline stuff
temp/
mer_counts.jf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# CatBoost
catboost_info/

# R
.Rproj.user
.Rhistory
